/* This Style is oriented for phone first */


/* ========================= Global Styles ======================== */

* {
  margin: 0px 0px;
  padding: 0px 0px;
}

html {
  scroll-padding-top: 95px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  /* font-family: monoid; */
  background-color: #edf6f9;
  color: black;
}

/* ========================= Header ============================== */

/* Base header layout */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #E5E5E5;
  color: #000000;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 999;
}

/* If logo is a text */
.logo a {
  font-size: 37px;
  /* font-weight: bold; */
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-decoration: none;
  color: #161a1d;
}

/* if log is a img */
.logo img {
  height: 50px;
  border-radius: 3px;
}

/* Nav lins */
nav a {
  color: #000000;
  text-decoration: none;
  margin-left: 20px;
  font-family: "pasti";
  transition: color 0.3s;
}

/* nav hover */
nav a:hover {
  color: #0dcfa9;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.hamburger {        /* For the hamburger menue in phone */
  display: none;
  font-size: 24px;
  cursor: pointer;
}


/* ============================ Section Styles =============================== */
section {
  /* border: 2px dashed #aaa; */
  padding: 10px;
  margin: 0px 0px;
  min-height: 600px;
}
.hero {
  background: #ffffff;
  font-size: 16px;
}
.about {
  background: #e5e7eb;
}
.projects {
  background: #ffffff;
}
.skills {
  background: #ebf2fa;
}
.contact {
  background: #ffffff;
}
.stickers img {
  height: 160px;
  margin: 5px;
}

/* Mobile styles */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: #cccccc;
    padding: 10px;
    width: 100%;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}

/* Laptop Devices */
@media (min-width: 769px) {
  section {
    /* border: 2px dashed #aaa; */
    padding: 20px;
    /* margin: 40px 00px; */
    min-height: 700px;
  }
  .logo img {
    height: 70px;
  }
  html {
    scroll-padding-top: 125px;
    scroll-behavior: smooth;
  }
}